body {
    width: 100%;
    margin: 0;
    font-size: 20px;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    background: rgb(20,20,20);
    color: #fff;
}

img {
    width: 100%;
}

h1 {
    font-family: Impact, sans-serif;
    font-size: 5em;
    text-align: left;
    margin-bottom: -10px;
    text-transform: uppercase;
    font-weight: normal;
}

a {
    color: #FC65B1;
    text-decoration: none;
}

h1 a {
    color: #fff;
}

header .source {
    line-height: 20px;
    font-size: 12px;
}

.images {
    text-align: center;
    padding: 50px 0 10px;
}

.images img {
    width: 30%;
    height: auto;
}

.images .arrow {
    font-size: 50px;
    display: inline-block;
    width: 15%;
}

.container {
    width: 800px;
    margin: 50px auto;
}

.form-container {
    margin-top: 2em;
    border-top: 2px solid rgba(255,255,255,0.2);
}

.msbtn {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 2px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #FFF;
    background: #FC65B1;
    color: #000;
    border-left: 2px solid #FFF;
}
